@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-paper-bg text-gray-800;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
